<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>房源详情</title>
    <link rel="stylesheet" href="../../css/details/main.css">
    <link rel="stylesheet" href="../../css/comm/element-ui.css">
</head>

<body>
    <div id="app" class="application">
        <div class="content_top_img">
            <div>
                <img :src=`../../${head_img[0]}`
                    width="100%" height="100%" alt="">
            </div>
            <div>
                <img :src=`../../${head_img[1]}`
                    width="100%" height="100%" alt="">
            </div>
            <div>
                <img :src=`../../${head_img[2]}`
                    width="100%" height="100%" alt="">
            </div>
            <div>
                <img :src=`../../${head_img[3]}`
                    width="100%" height="100%" alt="">
            </div>
            <div>
                <img :src=`../../${head_img[4]}`
                    width="100%" height="100%" alt="">
            </div>
        </div>

        <!--    主内容-->
        <div class="content_box_wrapper">
            <!--        左-->
            <div class="left_content_wrapper">
                <!--        导航条-->
                <div class="top_tag">
                    <span>详情</span>
                    <span>·</span>

                    <span>评价</span>
                    <span>·</span>

                    <span>可订日期</span>
                    <span>·</span>

                    <span>位置</span>
                    <span>·</span>

                    <span>须知</span>
                    <span>·</span>

                    <span>房东</span>
                </div>



                <!--            房源简介-->
                <div class="house_info_box">
                    <div class="house_info">
                        <span>上海市</span>
                        <span>·</span>
                        <span>{{html_dom.house_brief}}</span>

                    </div>
                    <!--            房源标题-->
                    <div class="house_info_title">
                        {{html_dom.house_title}}
                    </div>
                    <!--            房源配件-->
                    <div class="house_info_parts">
                        <!--                图标-->
                        <span></span>
                        <!--                文字描述-->
                        <span>{{html_dom.bed_num}}间卧室</span>

                        <!--                图标-->
                        <span></span>
                        <!--                文字描述-->
                        <span>{{html_dom.bed_num}}张床</span>

                        <!--                图标-->
                        <span></span>
                        <!--                文字描述-->
                        <span>{{html_dom.bedroom}} 间卫生间</span>

                        <!--                图标-->
                        <span></span>
                        <!--                文字描述-->
                        <span>可住 {{html_dom.people_num}} 人</span>
                    </div>
                    <!--            标签-->
                    <div class="house_mark_box">
                        <span class="house_mark_score">{{html_dom.comment_score}}分 · 49条评论</span>
                        <span class="house_mark_invoice">可开发票</span>
                        <span class="house_mark_other">近地铁站</span>
                        <span class="house_mark_other">可以做饭</span>
                    </div>
                </div>

                <!--            房东介绍-->
                <div class="host_info_box">
                    <!--                房东信息-->
                    <!--                带头像-->
                    <div class="host_head_box">
                        <div class="host_head_img">
                            <img src="https://z1.muscache.cn/im/pictures/user/55867c8d-6071-4ed3-8fab-24a6fbc2c3d5.jpg?aki_policy=profile_x_medium"
                                width="100%" height="100%" alt="">
                        </div>
                        <!--                联系房东-->
                        <div class="call_host">
                            <span>房东：子田</span>
                            <span>联系房东</span>
                        </div>
                        <!--房东身份-->
                        <div class="host_identity">
                            <span>{{html_dom.comment_num}}条评价</span>
                            <span>·</span>
                            <span>已验证身份</span>
                        </div>
                    </div>

                    <!--                房东对房源评价-->
                    <div class="host_evaluate_box">
                        <!--                内容-->
                        <div class="host_evaluate_content">
                            <p>
                                {{html_dom.house_more}}
                            </p>
                            <div class="host_evaluate_more">查看更多</div>
                        </div>

                    </div>
                </div>


                <!--            房间床铺简介-->
                <div class="house_bad_box">
                    <!--                单个床铺卡片-->
                    <div class="house_bad_card_box">
                        <div class="house_bad_card">
                            <div>卧室</div>
                            <!--                    图标-->
                            <div>
                                <span>
                                    <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"
                                        style="height: 24px; width: 24px; fill: currentcolor;">
                                        <path
                                            d="m23.96 14.81-2.96-7.41v-5.02a1.39 1.39 0 0 0 -1.39-1.38h-15.22c-.77 0-1.39.62-1.39 1.38v5.02l-2.96 7.41-.04.19v5.61c0 .64.43 1.17 1.01 1.33 0 .02-.01.04-.01.06v1.5a.5.5 0 0 0 1 0v-1.5h20v1.5a.5.5 0 0 0 1 0v-1.5c0-.02-.01-.04-.01-.06a1.39 1.39 0 0 0 1.01-1.33v-5.61zm-19.96-12.43c0-.21.17-.38.39-.38h15.22a.39.39 0 0 1 .39.39v4.61h-1v-1.61c0-.77-.62-1.39-1.39-1.39h-3.21c-.78 0-1.4.62-1.4 1.39v1.61h-2v-1.61c0-.77-.62-1.39-1.39-1.39h-3.22c-.77 0-1.39.62-1.39 1.39v1.61h-1zm14 3.01v3.21a.39.39 0 0 1 -.39.39h-3.21a.39.39 0 0 1 -.4-.38v-3.22a.39.39 0 0 1 .39-.39h3.21a.39.39 0 0 1 .39.39zm-8 0v3.21a.39.39 0 0 1 -.39.4h-3.22a.39.39 0 0 1 -.39-.39v-3.22a.39.39 0 0 1 .39-.39h3.21a.39.39 0 0 1 .39.39zm-6.16 2.61h1.16v.61c0 .77.62 1.39 1.39 1.39h3.21c.78 0 1.4-.62 1.4-1.39v-.61h2v .61c0 .78.62 1.39 1.39 1.39h3.21c.78 0 1.4-.62 1.4-1.39v-.61h1.16l2.8 7h-21.92zm19.16 12.61c0 .21-.18.39-.39.39h-21.22a.39.39 0 0 1 -.39-.39v-4.61h22z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </div>
                            <!--                    描述-->
                            <div class="house_bad_card_describe">1 张 1.8 米宽双人床</div>
                        </div>

                    </div>

                </div>

                <!--                爱彼迎保障-->
                <div class="airbnb_guarantee_box">
                    <!--                    左-->
                    <div class="airbnb_guarantee">
                        <!-- 图标 -->
                        <span>
                            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"
                                style="height: 24px; width: 24px; display: block; fill: rgb(96, 182, 181);">
                                <path
                                    d="m11.9885999 21.958c-7.062-2.999-9.894-8.081-8.576-15.373 3.54-.523 6.405-1.966 8.576-4.329 2.171 2.363 5.036 3.806 8.576 4.329 1.318 7.292-1.514 12.374-8.576 15.373m9.491-15.915c-.042-.211-.214-.372-.428-.399-3.679-.473-6.564-1.961-8.681-4.467-.2-.236-.564-.236-.764 0-2.117 2.506-5.002 3.994-8.681 4.467-.214.027-.386.188-.428.399-1.57899999 8.018 1.548 13.703 9.3 16.919.122.051.26.051.382 0 7.752-3.216 10.879-8.901 9.3-16.919"
                                    fill="#484848"></path>
                                <path
                                    d="m16.1218999 11.274-5.5 4.5c-.415.339-1.024.292-1.381-.11l-2-2.25c-.367-.412-.329-1.044.083-1.411.413-.367 1.045-.33 1.412.083l1.363 1.532 4.756-3.892c.428-.349 1.058-.286 1.408.141.349.427.286 1.057-.141 1.407m3.767-3.54c-.019-.276-.165-.379-.4-.421-2.949-.437-5.449-1.625-7.304-3.539-.066-.068-.136-.114-.19-.114-.06 0-.131.046-.197.114-1.855 1.914-4.355 3.102-7.303 3.539-.235.042-.381.145-.4.421-.285 4.085.049 9.185 7.397 13.01.164.086.344.156.497.156.159 0 .339-.07.503-.156 7.347-3.825 7.681-8.925 7.397-13.01">
                                </path>
                            </svg>
                        </span>

                        <span>爱彼迎旅行保障</span>
                        <span> | </span>

                        <span> 全方位保障 · 出行无忧</span>
                    </div>
                </div>
                <!--                整个房源-->
                <div class="all_house_info_box">
                    <div>
                        <span>合住房间</span>
                        <span>与他人共享卧室以及其他空间</span>
                    </div>

                    <div>
                        <span>入住/退房</span>
                        <span>入住时间 下午2:00后、退房时间 中午12:00</span>
                    </div>

                    <div>
                        <span>合住房间</span>
                        <span>与他人共享卧室以及其他空间</span>
                    </div>

                    <div>
                        <span>合住房间</span>
                        <span>与他人共享卧室以及其他空间</span>
                    </div>

                </div>
                <!--            就是图标-->
                <div class="all_house_icon_box">
                    <div class="icon_box">
                        <!-- 单个图标 -->
                        <div class="house_icon">
                            <!-- 图标 -->
                            <div><svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"
                                    style="height: 24px; width: 24px; fill: currentcolor;">
                                    <path
                                        d="m12 15a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm0 5a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm5.92-5.78a.5.5 0 1 1 -.84.55c-1.19-1.81-3.07-2.77-5.08-2.77s-3.89.96-5.08 2.78a.5.5 0 0 1 -.84-.55c1.38-2.1 3.58-3.23 5.92-3.23s4.54 1.13 5.92 3.23zm2.98-3.03a.5.5 0 1 1 -.79.61c-1.66-2.14-5.22-3.8-8.11-3.8-2.83 0-6.26 1.62-8.12 3.82a.5.5 0 0 1 -.76-.65c2.05-2.42 5.75-4.17 8.88-4.17 3.19 0 7.05 1.8 8.9 4.19zm2.95-2.33a.5.5 0 0 1 -.71-.02c-2.94-3.07-6.71-4.84-11.14-4.84s-8.2 1.77-11.14 4.85a.5.5 0 0 1 -.72-.69c3.12-3.27 7.14-5.16 11.86-5.16s8.74 1.89 11.86 5.16a.5.5 0 0 1 -.02.71z"
                                        fill-rule="evenodd"></path>
                                </svg></div>
                            <div>无线网络</div>
                        </div>
                    </div>
                </div>
                <!--            房客评价-->

                <div class="evaluate_title">房客评价</div>

                <div class="tenant_evaluate_box">
                    <div class="evaluate_icon">
                        <!--                    星星-->
                        <span class="evaluate_icon_box">
                            <i class="el-icon-star-on"></i>
                        </span>
                        <!--                    text-->
                        <span>条评价</span>
                    </div>

                    <!--                评价分类-->
                    <div class="evaluate_type_box_wrapper">
                        <!-- 左-- -->
                        <div class="evaluate_type_box_left">
                            <!-- 单个分类 -->
                            <div class="evaluate_type_box">
                                <!-- 描述文本 -->
                                <div class="evaluate_type_msg">
                                    <span>如实描述</span>
                                </div>
                                <!-- 星星数量 -->
                                <div class="evaluate_type_msg">
                                    <span>
                                        <i class="el-icon-star-on"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <!-- 右 -->
                        <div class="evaluate_type_box_right">
                            <!-- 单个分类 -->
                            <div class="evaluate_type_box">
                                <!-- 描述文本 -->
                                <div class="evaluate_type_msg">
                                    <span>如实描述</span>
                                </div>
                                <!-- 星星数量 -->
                                <div class="evaluate_type_msg">
                                    <span>
                                        <i class="el-icon-star-on"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                评价标签-->
                    <div class="evaluate_type_mark">
                        <div class="evaluate_type_mark_list">
                            <div class="evaluate_type_mark_line">
                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全asdasd部</span>
                                </div>
                            </div>

                            <div class="evaluate_type_mark_line">
                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全部</span>
                                </div>

                                <!-- 单个标签 -->
                                <div class="evaluate_mark">
                                    <span>全asdasd部</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="evaluate_box">
                        <!--                评价详情-->
                        <div class="evaluate_details_box">
                            <!--                    单个评价-->
                            <div class="evaluate_card">
                                <!--                        用户信息部分-->
                                <div class="evaluate_user_head_box">
                                    <div class="evaluate_user_head_img">
                                        <img src="https://z1.muscache.cn/im/pictures/user/b9801f23-d6d9-4774-b293-307b734cf120.jpg?aki_policy=profile_x_medium"
                                            width="100%" height="100%" alt="">
                                    </div>
                                    <!--                            用户昵称-->
                                    <div class="evaluate_uer_name">
                                        <span>轩铭</span>
                                    </div>
                                    <!--                            评价日期-->
                                    <div class="evaluate_user_date">
                                        <span>2021年10月</span>
                                    </div>
                                </div>

                                <div class="evaluate_content">
                                    <p>1515616</p>
                                </div>
                            </div>

                            <!--                    单个评价-->
                            <div class="evaluate_card">
                                <!--                        用户信息部分-->
                                <div class="evaluate_user_head_box">
                                    <div class="evaluate_user_head_img">
                                        <img src="https://z1.muscache.cn/im/pictures/user/b9801f23-d6d9-4774-b293-307b734cf120.jpg?aki_policy=profile_x_medium"
                                            width="100%" height="100%" alt="">
                                    </div>
                                    <!--                            用户昵称-->
                                    <div class="evaluate_uer_name">
                                        <span>轩铭</span>
                                    </div>
                                    <!--                            评价日期-->
                                    <div class="evaluate_user_date">
                                        <span>2021年10月</span>
                                    </div>
                                </div>

                                <div class="evaluate_content">
                                    <p>1515616</p>
                                </div>
                            </div>
                        </div>
                        <!-- 分页 -->
                        <div class="evaluate_page_list">
                            <el-pagination background=true layout="prev, pager, next" :total="1000">
                            </el-pagination>
                        </div>
                    </div>
                </div>

                <div>可订日期</div>
                <div class="available_date">

                </div>
            </div>
            <!--        右 订单部分-->
            <div class="right_order_wrapper">
                <div class="order_box">
                    <!--                订单信息-->
                    <div class="order_top_info_box">
                        <div class="order_price">
                            <span> ￥272</span>
                            <span>￥512</span>
                            <span>/</span>
                            <span>晚</span>
                        </div>
                        <!--优惠-->
                        <div class="order_discount_list">
                            <div class="order_discount_list_line">
                                <!-- 一个小标签 -->
                                <div>
                                    <!-- 图标 -->
                                    <span>
                                        <svg viewBox="0 0 32 32" role="presentation" aria-hidden="true"
                                            focusable="false"
                                            style="height: 12px; width: 12px; display: inline-block; fill: rgb(96, 182, 181);">
                                            <path
                                                d="m13.2651857 19.4498225-5.07154933-5.0715493-2.17401154 2.1740115 7.24670517 7.2467052 2.1740115-2.1740116-.0011443-.0011443 10.649855-10.649855-2.1740115-2.17401155zm2.7348143 12.5501775c-8.836556 0-16-7.163444-16-16s7.163444-16 16-16 16 7.163444 16 16-7.163444 16-16 16z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span>周租优惠 5.3 折</span>
                                </div>

                                <div>
                                    <!-- 图标 -->
                                    <span>
                                        <svg viewBox="0 0 32 32" role="presentation" aria-hidden="true"
                                            focusable="false"
                                            style="height: 12px; width: 12px; display: inline-block; fill: rgb(96, 182, 181);">
                                            <path
                                                d="m13.2651857 19.4498225-5.07154933-5.0715493-2.17401154 2.1740115 7.24670517 7.2467052 2.1740115-2.1740116-.0011443-.0011443 10.649855-10.649855-2.1740115-2.17401155zm2.7348143 12.5501775c-8.836556 0-16-7.163444-16-16s7.163444-16 16-16 16 7.163444 16 16-7.163444 16-16 16z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span>周租优惠 5.3 折</span>
                                </div>

                                <div>
                                    <!-- 图标 -->
                                    <span>
                                        <svg viewBox="0 0 32 32" role="presentation" aria-hidden="true"
                                            focusable="false"
                                            style="height: 12px; width: 12px; display: inline-block; fill: rgb(96, 182, 181);">
                                            <path
                                                d="m13.2651857 19.4498225-5.07154933-5.0715493-2.17401154 2.1740115 7.24670517 7.2467052 2.1740115-2.1740116-.0011443-.0011443 10.649855-10.649855-2.1740115-2.17401155zm2.7348143 12.5501775c-8.836556 0-16-7.163444-16-16s7.163444-16 16-16 16 7.163444 16 16-7.163444 16-16 16z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span>周租优惠 5.3 折</span>
                                </div>

                                <div>
                                    <!-- 图标 -->
                                    <span>
                                        <svg viewBox="0 0 32 32" role="presentation" aria-hidden="true"
                                            focusable="false"
                                            style="height: 12px; width: 12px; display: inline-block; fill: rgb(96, 182, 181);">
                                            <path
                                                d="m13.2651857 19.4498225-5.07154933-5.0715493-2.17401154 2.1740115 7.24670517 7.2467052 2.1740115-2.1740116-.0011443-.0011443 10.649855-10.649855-2.1740115-2.17401155zm2.7348143 12.5501775c-8.836556 0-16-7.163444-16-16s7.163444-16 16-16 16 7.163444 16 16-7.163444 16-16 16z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span>周租优惠 5.3 折</span>
                                </div>

                                <div>
                                    <!-- 图标 -->
                                    <span>
                                        <svg viewBox="0 0 32 32" role="presentation" aria-hidden="true"
                                            focusable="false"
                                            style="height: 12px; width: 12px; display: inline-block; fill: rgb(96, 182, 181);">
                                            <path
                                                d="m13.2651857 19.4498225-5.07154933-5.0715493-2.17401154 2.1740115 7.24670517 7.2467052 2.1740115-2.1740116-.0011443-.0011443 10.649855-10.649855-2.1740115-2.17401155zm2.7348143 12.5501775c-8.836556 0-16-7.163444-16-16s7.163444-16 16-16 16 7.163444 16 16-7.163444 16-16 16z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span>周租优惠 5.3 折</span>
                                </div>

                                <div>
                                    <!-- 图标 -->
                                    <span>
                                        <svg viewBox="0 0 32 32" role="presentation" aria-hidden="true"
                                            focusable="false"
                                            style="height: 12px; width: 12px; display: inline-block; fill: rgb(96, 182, 181);">
                                            <path
                                                d="m13.2651857 19.4498225-5.07154933-5.0715493-2.17401154 2.1740115 7.24670517 7.2467052 2.1740115-2.1740116-.0011443-.0011443 10.649855-10.649855-2.1740115-2.17401155zm2.7348143 12.5501775c-8.836556 0-16-7.163444-16-16s7.163444-16 16-16 16 7.163444 16 16-7.163444 16-16 16z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span>周租优惠 5.3 折</span>
                                </div>
                            </div>
                            <div></div>
                        </div>

                        <div class="order_score_box">
                            <!-- 星星 -->
                            <div class="order_score">
                                <span class="stars">
                                    <i class="el-icon-star-on"></i>
                                </span>
                            </div>
<!--                            <div>条</div>-->
                        </div>
                    </div>

                    <div class="order_other_box">
                        <div class="other_date_box">
                            <div class="order_date_text">日期</div>
                            <div class="order_date">
                                <div class="block">
                                    <el-date-picker v-model="value1" type="daterange" range-separator="至"
                                        start-placeholder="开始日期" end-placeholder="结束日期">
                                    </el-date-picker>
                                </div>

                            </div>
                        </div>
                        <div class="other_people_box">
                            <div class="order_date_people_num order_date_text">人数</div>
                            <div class="order_date_people_temp"></div>
                        </div>
                        <!-- 价格详情 -->
                        <div class="price_details">
                            <!--                        原价-->
                            <div class="price_original">
                                <div class="price_original_left">
                                    <!--                         左边-->
                                    <span>￥272</span>
                                    <!--                            右边-->
                                    <span> x 1晚 </span>
                                </div>
                                <div class="price_original_right">
                                    <span> ￥272</span>
                                </div>

                            </div>

                        </div>

                        <!--                        提交订单-->
                        <div class="order_submit_btn">
                            <div>
                                <div>申请预定</div>
                            </div>
                            <div v-if=false>您暂时不会被收费</div>
                        </div>

                        <!--                    订单结束-->
                        <div class="order_end">
                            <div class="order_end_box">
                                <!--                            左-->
                                <div></div>
                                <div></div>
                                <!--                        右-->
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../js/comm/vue.js"></script>
    <script src="../../js/comm/element-ui.js"></script>
    <script src="../../js/comm/axios.min.js"></script>
    <script src="../../js/details/details.js"></script>
</body>

</html>
