/*
10.13
1.用户头像添加白色圆角边框
2.搜索框添加小图标
3.搜索框添加动效

*/
@import url("//unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css");
* {
    margin: 0;
    padding: 0;
}
/*划分网格 公共*/
.wrapper_nav {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 3fr 2.5fr;
    grid-template-rows: 1fr;
    justify-self: center;
    align-items: center;
    height: 80px;
}

.nav_right_content{
    display: grid;
    grid-template-columns: repeat(5,minmax(1em,10em));
    justify-self: center;
    align-items: center;
    grid-column-gap: 10px;
}
.nav_right_content div{
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
}

.nav_right_content div:hover{
    border-bottom: 2px solid white;
    box-sizing: border-box;
}

.wrapper_nav div {
    text-align: center;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

.wrapper_nav_item {
    grid-template-columns: repeat(3, 1fr);
}
.wrapper_nav_item div {
    width: 33.33%;
    display: inline-block;
}
input {
    outline: none;
}

/*设置详细样式*/
.wrapper_nav_item_logo img {
    width: 70%;
}

/*搜索框*/
.wrapper_nav_item_search {
    position: relative;
}
.wrapper_nav_item_search input {
    transition: 0.35s;
    width: 60%;
    height: 46px;
    font-size: 1.3em;
    border-radius: 5px;
    border: none;
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
    float: left;
    left: 20%;
}
.wrapper_nav_item_search input::-webkit-input-placeholder {
    font-size: 0.8em;
    font-weight: 800;
    color: rgb(131, 125, 125);
}
.wrapper_nav_item_search i {
    position: absolute;
    left: 21%;
    bottom: 30%;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}



/*用户头像*/
.wrapper_nav_item_user_logo {
    text-align: center !important;
}

.wrapper_nav_item_user_logo div {
    box-shadow: rgb(235 235 235) 0px 0px 0px;
    background: rgb(242, 242, 242);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 25px;
    background: url("../../img/userLogo.jpg");
    background-position: center;
    background-size: cover;
}
