$font_color: rgb(255, 255, 255);
$font_color_green: #008489;
$small_font_size: 0.6em;
$small_font_size_ordinary:0.3em;
$font_size_title:1.5em;
$font_color_black:rgb(72,72,72);
$start_color:#008489;
$border_bottom:rgb(235,235,235)