<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/comm/element-ui.css">
    <link rel="stylesheet" href="../../css/index/index.css">
    <link rel="import" href="../../html/comm/head.html" id="head1">
</head>
<body>
<div class="application">
    <div class="wrapper_img">
        <div class="wrapper_img_item">
            <div class="wrapper_img_item_img"></div>
        </div>
        <div class="wrapper_content" id="template_app">
            <!--悬浮搜索框-->
            <div class="content_search">
                <div class="search_select">
                    <div>房源</div>
                </div>
                <!--        搜索框-->
                <div class="content_search_input">
                    <div class="content_search_input_box">
                        <i class="el-icon-location"></i>
                        <input type="text" placeholder="输入目的地、城市或景点">
                    </div>

                </div>
                <!--        选择日期-->
                <div>
                    <template>
                        <div class="block">
                            <span class="demonstration"></span>
                            <el-date-picker
                                    v-model="value1"
                                    type="daterange"
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                            </el-date-picker>
                        </div>
                    </template>
                </div>
                <!--        搜索按钮-->
                <div class="content_btn">
                    <div>搜索</div>
                </div>
            </div>

            <!--    大卡片-->

            <div class="content_preferential">
                <div class="content_preferential_title">国庆特惠房源</div>
                <div class="content_preferential_msg">品质房源，低至5折</div>
                <!--        选项卡-->
                <div class="content_tab">
                    <ul>
                        <li v-for="item in locationList">
                            <span>{{ item }}</span>
                        </li>
                    </ul>
                </div>

                <!--            可复用-->
                <div class="content_house_card_box">
                    <!--            里面装房源卡片-->
                    <!--                单个卡片-->
                    <template v-for="(card_item,index) in house_card">
                        <div class="house_card" :id="index">
                            <div class="house_card_img">
                                <img
                                        width="100%"
                                        :src="card_item.house_imgUrl"
                                        :alt="card_item.house_imgUrl">
                            </div>
                            <div class="house_card_brief">
                                <span>{{ card_item.house_info }}</span>
                                <span>·</span>
                                <span>1张床</span> <!-- 动态-->
                            </div>
                            <div class="house_card_title">
                                <span>{{ card_item.house_title }}</span>
                            </div>

                            <div class="house_card_price">
                                <span>{{ card_item.house_price }}</span> <!--   动态      -->
                                <span>￥208</span><!--   动态      -->
                                <span>/晚</span>
                            </div>
                            <div class="house_card_score">

                            </div>
                        </div>
                    </template>
                </div>
                <div class="content_preferential_end_text">查看更多{{}} 房源 ></div>
            </div>

            <!--    小列表-->
            <div class="content_sim_card">
                <div class="sim_card_box_title">
                    <div class="sim_card_box_title_big">郑州高分好评房源</div>
                    <div class="sim_card_box_title_sim">来看看这些颇受房客好评的房源吧</div>
                </div>
                <div class="sim_card_box_wrapper">
                    <!--            单个卡片-->
                    <template>
                        <div class="sim_card_box">
                            <!--                图片-->
                            <div class="sim_card_img">
                                <img src="https://z1.muscache.cn/im/pictures/bcad4334-0d7c-4bd8-aeb1-987715b78af0.jpg?aki_policy=large"
                                     width="100%" alt="">
                            </div>
                            <div class="sim_card_introduction">
                                <span>整套公寓型住宅</span>
                                <span>·</span>
                                <span>3室2卫3床</span>
                            </div>
                            <div class="sim_card_title">
                                <div>好时光 210+大平层紧挨地铁一号线/郑东CBD玉米楼/高铁站/2-6人出行/亲子出游/五星清洁/</div>

                            </div>
                            <div class="sim_card_price">
                                <span>￥484</span>
                                <span>￥550</span>
                                <span>/晚</span>
                            </div>
                            <div class="sim_card_score">
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span>11</span>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="sim_card_showAll">查看全部  > </div>
            </div>

<!--            复制-->
            <!--            可复用-->
            <!--    大卡片-->

            <div class="content_preferential">
                <div class="content_preferential_title">探索上海精彩之地</div>
                <!--        选项卡-->
                <div class="content_tab">
                    <ul>
                        <li v-for="item in locationList">
                            <span>{{ item }}</span>
                        </li>
                    </ul>
                </div>

                <!--            可复用-->
                <div class="content_house_card_box">
                    <!--            里面装房源卡片-->
                    <!--                单个卡片-->
                    <template v-for="(card_item,index) in house_card">
                        <div class="house_card" :id="index">
                            <div class="house_card_img">
                                <img
                                        width="100%"
                                        :src="card_item.house_imgUrl"
                                        :alt="card_item.house_imgUrl">
                            </div>
                            <div class="house_card_brief">
                                <span>{{ card_item.house_info }}</span>
                                <span>·</span>
                                <span>1张床</span> <!-- 动态-->
                            </div>
                            <div class="house_card_title">
                                <span>{{ card_item.house_title }}</span>
                            </div>

                            <div class="house_card_price">
                                <span>{{ card_item.house_price }}</span> <!--   动态      -->
                                <span>￥208</span><!--   动态      -->
                                <span>/晚</span>
                            </div>
                            <div class="house_card_score">

                            </div>
                        </div>
                    </template>
                </div>
                <div class="content_preferential_end_text">查看更多{{}} 房源 ></div>
            </div>

<!--            高分好评房源-->
            <!--    小列表-->
            <div class="content_sim_card">
                <div class="sim_card_box_title">
                    <div class="sim_card_box_title_big">郑州高分好评房源</div>
                    <div class="sim_card_box_title_sim">来看看这些颇受房客好评的房源吧</div>
                </div>
                <div class="sim_card_box_wrapper">
                    <!--            单个卡片-->
                    <template>
                        <div class="sim_card_box">
                            <!--                图片-->
                            <div class="sim_card_img">
                                <img src="https://z1.muscache.cn/im/pictures/bcad4334-0d7c-4bd8-aeb1-987715b78af0.jpg?aki_policy=large"
                                     width="100%" alt="">
                            </div>
                            <div class="sim_card_introduction">
                                <span>整套公寓型住宅</span>
                                <span>·</span>
                                <span>3室2卫3床</span>
                            </div>
                            <div class="sim_card_title">
                                <div>好时光 210+大平层紧挨地铁一号线/郑东CBD玉米楼/高铁站/2-6人出行/亲子出游/五星清洁/</div>

                            </div>
                            <div class="sim_card_price">
                                <span>￥484</span>
                                <span>￥550</span>
                                <span>/晚</span>
                            </div>
                            <div class="sim_card_score">
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span>11</span>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="sim_card_showAll">查看全部  > </div>
            </div>


<!--            上海高性价比-->
            <!--    小列表-->
            <div class="content_sim_card">
                <div class="sim_card_box_title">
                    <div class="sim_card_box_title_big">郑州高分好评房源</div>
                    <div class="sim_card_box_title_sim">来看看这些颇受房客好评的房源吧</div>
                </div>
                <div class="sim_card_box_wrapper">
                    <!--            单个卡片-->
                    <template>
                        <div class="sim_card_box">
                            <!--                图片-->
                            <div class="sim_card_img">
                                <img src="https://z1.muscache.cn/im/pictures/bcad4334-0d7c-4bd8-aeb1-987715b78af0.jpg?aki_policy=large"
                                     width="100%" alt="">
                            </div>
                            <div class="sim_card_introduction">
                                <span>整套公寓型住宅</span>
                                <span>·</span>
                                <span>3室2卫3床</span>
                            </div>
                            <div class="sim_card_title">
                                <div>好时光 210+大平层紧挨地铁一号线/郑东CBD玉米楼/高铁站/2-6人出行/亲子出游/五星清洁/</div>

                            </div>
                            <div class="sim_card_price">
                                <span>￥484</span>
                                <span>￥550</span>
                                <span>/晚</span>
                            </div>
                            <div class="sim_card_score">
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span>11</span>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="sim_card_showAll">查看全部  > </div>
            </div>

<!--            上海的爱彼迎Plus房源-->
            <!--    小列表-->
            <div class="content_sim_card">
                <div class="sim_card_box_title">
                    <div class="sim_card_box_title_big">郑州高分好评房源</div>
                    <div class="sim_card_box_title_sim">来看看这些颇受房客好评的房源吧</div>
                </div>
                <div class="sim_card_box_wrapper">
                    <!--            单个卡片-->
                    <template>
                        <div class="sim_card_box">
                            <!--                图片-->
                            <div class="sim_card_img">
                                <img src="https://z1.muscache.cn/im/pictures/bcad4334-0d7c-4bd8-aeb1-987715b78af0.jpg?aki_policy=large"
                                     width="100%" alt="">
                            </div>
                            <div class="sim_card_introduction">
                                <span>整套公寓型住宅</span>
                                <span>·</span>
                                <span>3室2卫3床</span>
                            </div>
                            <div class="sim_card_title">
                                <div>好时光 210+大平层紧挨地铁一号线/郑东CBD玉米楼/高铁站/2-6人出行/亲子出游/五星清洁/</div>

                            </div>
                            <div class="sim_card_price">
                                <span>￥484</span>
                                <span>￥550</span>
                                <span>/晚</span>
                            </div>
                            <div class="sim_card_score">
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span class="el-icon-star-on"></span>
                                <span>11</span>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="sim_card_showAll">查看全部  > </div>
            </div>


<!--            热门的目的地-->
            <div class="content_preferential">
                <div class="content_preferential_title">国庆特惠房源</div>
                <div class="content_preferential_msg">品质房源，低至5折</div>
                <!--        选项卡-->
                <div class="content_tab">
                    <ul>
                        <li v-for="item in locationList">
                            <span>{{ item }}</span>
                        </li>
                    </ul>
                </div>

                <!--            可复用-->
                <div class="content_house_card_box">
                    <!--            里面装房源卡片-->
                    <!--                单个卡片-->
                    <template v-for="(card_item,index) in house_card">
                        <div class="house_card" :id="index">
                            <div class="house_card_img">
                                <img
                                        width="100%"
                                        :src="card_item.house_imgUrl"
                                        :alt="card_item.house_imgUrl">
                            </div>
                            <div class="house_card_brief">
                                <span>{{ card_item.house_info }}</span>
                                <span>·</span>
                                <span>1张床</span> <!-- 动态-->
                            </div>
                            <div class="house_card_title">
                                <span>{{ card_item.house_title }}</span>
                            </div>

                            <div class="house_card_price">
                                <span>{{ card_item.house_price }}</span> <!--   动态      -->
                                <span>￥208</span><!--   动态      -->
                                <span>/晚</span>
                            </div>
                            <div class="house_card_score">

                            </div>
                        </div>
                    </template>
                </div>
                <div class="content_preferential_end_text">查看更多{{}} 房源 ></div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/comm/vue.js"></script>
<script src="../../js/comm/axios.min.js"></script>
<script src="../../js/comm/element-ui.js"></script>
<script src="../../js/index/index.js"></script>
<script type="module" src="../../js/comm/urlList.js"></script>
<script type="module">
    import apiList from '../../js/comm/urlList'

    console.log(apiList.house_card_info)

</script>
</body>
</html>
